{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

    <title>Per Scholas</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="static/assets/css/templatemo-edu-meeting.css" />
    <link rel="stylesheet" href="static/assets/css/owl.css" />
    <link rel="stylesheet" href="static/assets/css/lightbox.css" />
    <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>

    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="left-content">
                        <p>This is a <em>PER SCHOLAS</em> feedback </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/abdalla.mady.everis"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/abdallauno"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/abdalla-mady-366b67115/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                          PER SCHOLAS
                      </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li><a href="teachers.html">teachers</a></li>
                            <li class="scroll-to-section"><a href="#apply">Students</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="teachers.html">TEACHERS FEEDBACK</a></li>
                                    <li><a href="students.html">students feedback</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact Me</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
          <source src="static/assets/images/course-video.mp4" type="video/mp4" />
      </video>

        <div class="video-overlay header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            <h6>Hello Students AND TEACHERS</h6>
                            <h2>Welcome to Education</h2>
                            <p>
                                I had an excellent teachers and students they provides me a great mix of listening, speaking and practical learning activities and a very safe, supportive learning environment. As a student, you feel pushed to learn and try out new competencies, feel
                                safe and supported in doing so and gain valuable feedback that helps you to improve
                            </p>
                            <div class="main-button-red">
                                <div class="scroll-to-section"><a href="#contact">Any Questions?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-service-item owl-carousel">

                        <div class="item">
                            <div class="icon">
                                <img src="static/assets/images/service-icon-01.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Best Education</h4>
                                <p>With per Scholas you can get the skills you need to grow your career in tech, the school offer various courses depends on your interests</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="static/assets/images/service-icon-02.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Best Teachers</h4>
                                <p>I had a best teachers that i archived a lot from them, thank you for made this easy to understand, really appreciate you </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="static/assets/images/service-icon-03.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Best Students</h4>
                                <p>Hi guys you are fantastic colleagues, I learned a lot from you and from your ideas proposed during the case study. Good luck for all of you </p>
                            </div>
                        </div>
                        <!--
              <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Online Meeting</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            -->


                        <div class="item">
                            <div class="icon">
                                <img src="static/assets/images/service-icon-03.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Best Networking</h4>
                                <p>We had a good tools to use during our class, canvas - slack - zoom , all this tools helped me to connect easily with the teachers and colleagues</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-meetings" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>teachers</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories">
                        <h4>Teachers</h4>
                        <ul>
                            <li><a href="jafer.html">Jafer Alhaboubi</a></li>
                            </br>
                            <li><a href="william.html">William Roales</a></li>
                            </br>
                            <li><a href="eldad.html">Eldad van Creveld</a></li>
                            </br>
                            <li><a href="steve.html">Steven Bochinski</a></li>
                            </br>
                            <li><a href="tamara.html">Tamara Abney</a></li>
                            </br>
                        </ul>

                        <div class="main-button-red">
                            <a href="teachers.html">My feedback</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <a href="jafer.html"><img src="static/assets/images/jafer.jpg" alt="Online Teaching"></a>
                                </div>
                                <div class="down-content">
                                    <div class="date">
                                        <h6>Nov <span>8</span></h6>
                                    </div>
                                    <a href="jafer.html">
                                        <h4>Technical Instructor</h4>
                                    </a>
                                    <p>A solutions-focused professional with history of success in developing and teaching enterprise applications that included all phases of software development lifecycle in an agile scrum team</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">

                                    <a href="eldad.html"><img src="static/assets/images/eldad.jpg" alt="Online Teaching"></a>
                                </div>
                                <div class="down-content">
                                    <div class="date">
                                        <h6>Nov <span>15</span></h6>
                                    </div>
                                    <a href="eldad.html">
                                        <h4>Ciscos' ITE, CCNA, CCNA Security</h4>
                                    </a>
                                    <p>Manager of a Cisco Academy Support Center, working with the Israeli Ministry of Education, <br>training and accrediting new instructors and supporting MOE teachers using the Netacad platform<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">

                                    <a href="william.html"><img src="static/assets/images/william.jpg" alt="Online Teaching"></a>
                                </div>
                                <div class="down-content">
                                    <div class="date">
                                        <h6>Nov <span>8</span></h6>
                                    </div>
                                    <a href="william.html">
                                        <h4>Developer / Analyst</h4>
                                    </a>
                                    <p>Computer consultant<br><br><br>DevOps</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">

                                    <a href="steve.html"><img src="static/assets/images/steve.jpg" alt="Online Teaching"></a>
                                </div>
                                <div class="down-content">
                                    <div class="date">
                                        <h6>Dic <span>6</span></h6>
                                    </div>
                                    <a href="steve.html">
                                        <h4>DevOps Consultant</h4>
                                    </a>
                                    <p>Dev Ops Engineer, Linux/UNIX systems administrator, educator. Skills include setting up Jenkins Pipelines, automating builds and deployments with webhooks</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">

                                    <a href="tamara.html"><img src="static/assets/images/tamara.jpg" alt="Higher Education"></a>
                                </div>
                                <div class="down-content">
                                    <div class="date">
                                        <h6>Nov <span>12</span></h6>
                                    </div>
                                    <a href="tamara.html">
                                        <h4>Professional Development</h4>
                                    </a>
                                    <p>Experienced executive with a solid background in Professional Development Training, Strategic Partnership Building and DEI Strategy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="apply-now" id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Interests and Talents</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Have a keen interest that has been shared with the class.</p>
                                    <p>● Holds many varied interests.</p>
                                    <p>● provides background knowledge about topics of particular interest to them.</p>
                                    <p>● Seeks additional information independently about classroom topics that pique interest.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Participation</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Listens attentively to the responses of others.</p>
                                    <p>● Follows directions.</p>
                                    <p>● Shares personal experiences and opinions with peers.</p>
                                    <p>● Regularly volunteers to assist in classroom activities.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Work Habits</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Consistently completes homework assignments.</p>
                                    <p>● Readily grasp new concepts and ideas.</p>
                                    <p>● Displays self-discipline.</p>
                                    <p>● Avoid careless errors through attention to detail.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion last-accordion">
                            <div class="accordion-head">
                                <span>Character</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Shows respect for teachers and peers.</p>
                                    <p>● Displays good citizenship by assisting other students.</p>
                                    <p>● is creative when problem solving</p>
                                    <p>● Perseveres when faced with difficulty by asking questions and trying his/her best</p>
                                    <p>● is patient and kind when working with his/her peers who need extra assistance</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Interests and Talents</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Have a keen interest that has been shared with the class.</p>
                                    <p>● Holds many varied interests.</p>
                                    <p>● provides background knowledge about topics of particular interest to them.</p>
                                    <p>● Seeks additional information independently about classroom topics that pique interest.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Participation</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Listens attentively to the responses of others.</p>
                                    <p>● Follows directions.</p>
                                    <p>● Shares personal experiences and opinions with peers.</p>
                                    <p>● Regularly volunteers to assist in classroom activities.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Work Habits</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Consistently completes homework assignments.</p>
                                    <p>● Readily grasp new concepts and ideas.</p>
                                    <p>● Displays self-discipline.</p>
                                    <p>● Avoid careless errors through attention to detail.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion last-accordion">
                            <div class="accordion-head">
                                <span>Character</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>● Shows respect for teachers and peers.</p>
                                    <p>● Displays good citizenship by assisting other students.</p>
                                    <p>● is creative when problem solving</p>
                                    <p>● Perseveres when faced with difficulty by asking questions and trying his/her best</p>
                                    <p>● is patient and kind when working with his/her peers who need extra assistance</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-courses" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Courses</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-courses-item owl-carousel">
                        <div class="item">
                            <img src="static/assets/images/linux.jpg" alt="">
                            <div class="down-content">
                                <h4>Linux OS</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/networking.jpg" alt="">
                            <div class="down-content">
                                <h4>Network Basics</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/python.jpg" alt="">
                            <div class="down-content">
                                <h4>Python Scripting</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/github.jpg" alt="">
                            <div class="down-content">
                                <h4>Git, GitHub</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/jenkins.jpg" alt="">
                            <div class="down-content">
                                <h4>Jenkins</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/docker.jpeg" alt="">
                            <div class="down-content">
                                <h4>Docker</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/kubernetes.jpg" alt="">
                            <div class="down-content">
                                <h4>Kubernets</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/terraform.jpg" alt="">
                            <div class="down-content">
                                <h4>Terraform</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/aws.jpg" alt="">
                            <div class="down-content">
                                <h4>AWS</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/ansible.jpg" alt="">
                            <div class="down-content">
                                <h4>Ansible</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/chef.jpg" alt="">
                            <div class="down-content">
                                <h4>Chef</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="static/assets/images/devsecops.jpg" alt="">
                            <div class="down-content">
                                <h4>DevSecOps</h4>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-8">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>A Few Facts About My Study</h2>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="count-area-content percentage">
                                        <div class="count-digit">92</div>
                                        <div class="count-title">Pay attention in class</div>

                                    </div>
                                    <div class="count-title">
                                        <h8>When i pay attention in class and take good notes,i'm starting the process of learning and studying</h8>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content percentage">
                                        <div class="count-digit">98</div>
                                        <div class="count-title">Take good notes</div>
                                    </div>
                                    <div class="count-title">
                                        <h8>Start by writing down facts that my teachers mentions during class. Try my best to use good handwriting so i can read my notes later. It's also a good idea to keep my notes, quizzes, and papers organized by subject
                                        </h8>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="count-area-content percentage">
                                        <div class="count-digit">95</div>
                                        <div class="count-title">Lose the Confusion — Ask for Help</div>
                                    </div>

                                    <div class="count-title">
                                        <h8>I can't study effectively if i don't understand the material. Asking my teachers for help if i'm confused about something. </h8>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="count-area-content percentage">
                                        <div class="count-digit">100</div>
                                        <div class="count-title">Sleep Tight!</div>
                                    </div>
                                    <div class="count-title">
                                        <h8>So the test is tomorrow and i've followed my study plan — but suddenly i can't remember anything, not even 2+2! Don't panic. my brain needs time to digest all the information i've given it. So i'm Trying to get
                                            a good night's sleep</h8>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="video">
                        <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="static/assets/images/play-icon.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 align-self-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Let's get in touch</h2>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-info">
                        <ul>
                            <li>
                                <h6>Phone Number</h6>
                                <h8>+39 346-6464003</h8>
                            </li>
                            <li>
                                <h6>Email Address</h6>
                                <h8>abdullamady@hotmail.com</h8>
                            </li>
                            <li>
                                <h6>Street Address</h6>
                                <h8>60-30 Madison street New York City, 11385 United States</h8>
                            </li>
                            <li>
                                <h6>Website URL</h6>
                                <h8>
                                    <a href="https://abdalla-mady.herokuapp.com/" target="_parent" title="abdalla mady">https://abdalla-mady.herokuapp.com</a></h8>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2022 Abdalla Mady. All Rights Reserved.
                <br>Design: <a href="https://abdalla-mady.herokuapp.com/" target="_parent" title="abdalla mady">Abdalla Mady</a></p>
        </div>
    </section>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function() {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function(e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function() {
            checkSection();
        });
    </script>
</body>

</body>

</html>
{% endblock %}