{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>students </title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">
    <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="left-content">
                        <p><em>Students</em> feedback </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/abdalla.mady.everis"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/abdallauno"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/abdalla-mady-366b67115/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                          PER SCHOLAS
                      </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="teachers.html">teachers</a></li>
                            <li><a href="students.html" class="active">Students</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="teachers.html">TEACHERS FEEDBACK</a></li>
                                    <li><a href="students.html">students feedback</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Courses</a></li>
                            <li><a href="index.html">Contact Me</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <section class="heading-page-student header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><br><br></h6>
                    <h2><br><br></h2>

                </div>
            </div>
        </div>
    </section>



    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="filters">
                                <ul>
                                    <li data-filter="*" class="active">STUDENTS</li>
                                    <li data-filter=".spencer">Spencer </li>
                                    <li data-filter=".max">Max</li>
                                    <li data-filter=".john">John</li>
                                    <li data-filter=".mamoun">Mamoun</li>
                                    <li data-filter=".emine">Emine</li>
                                    <li data-filter=".shafin">Shafin</li>
                                    <li data-filter=".mukund">Mukund</li>
                                    <li data-filter=".betrand">Betrand</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row grid">
                                <div class="col-lg-4 templatemo-item-col all spencer">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/spencer.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/spencer-hurrle/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Spencer Hurrle</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 templatemo-item-col all max">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/max.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/max-conroy/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Maximilian Conroy</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 templatemo-item-col all john">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/john.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/johnericknoel/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>John Erick Noel</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 templatemo-item-col all mamoun">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/mamoun.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/mamoun-janfor-4572b7226/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Mamoun Janfor</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 templatemo-item-col all emine">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/emine.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/emine-dogan/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Emine Dogan</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 templatemo-item-col all shafin">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/shafin.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/shafinahsan/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Shafin Ahsan</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 templatemo-item-col all mukund">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/mukund.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/mukundparameswaran/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Mukund Parameswaran</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 templatemo-item-col all betrand">
                                    <div class="meeting-item">
                                        <div class="thumb">
                                            <img src="static/assets/images/betrand.jpg" alt="">
                                        </div>
                                        <div class="down-content">
                                            <div class="date">
                                                <a href="https://www.linkedin.com/in/betrand-ndah/">
                                                    <h6>Linkedin</h6>
                                                </a>
                                            </div>
                                            <h4>Betrand Ndah</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2022 Abdalla Mady. All Rights Reserved.
                <br>Design: <a href="https://abdalla-mady.herokuapp.com/" target="_parent" title="abdalla mady">Abdalla Mady</a></p>
        </div>
    </section>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/isotope.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function() {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function(e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function() {
            checkSection();
        });
    </script>
</body>


</body>

</html>
{% endblock %}